//Styles for a list of comments. Lots of overrides because markup isn't easily changed. 
$gravatar-size: rem-calc(80);
$gravatar-padding: rem-calc(10);

#comments {
	a, cite {
		color: $black;
		font-weight: bold;
	}
	
  a {
    &:hover,
    &:focus {
      color: $anchor-color-hover;
      @if $anchor-text-decoration-hover != $anchor-text-decoration {
        text-decoration: $anchor-text-decoration-hover;
      }
    }
  }
  
	img {
		float: left;
		margin-right: $gravatar-padding;
	}
	
	h3 {
			display: none;
	}

	ol, ul {
			list-style-type: none;    
	}

	article {
		margin-bottom: rem-calc(20);
	}
	
	.reply {
		margin-left: $gravatar-size + $gravatar-padding;
	}
	
	cite {
		display: inline;
		font-style: normal;
		font-size: rem-calc(16);
		
		
		&:before {
			content: '';
		}
		
		&:after {
			content: " | ";
			padding: 0 5px;
		}
	}
	
	section.comment {
		margin-left: $gravatar-size + $gravatar-padding;
	}
  
  //Styles for comment validation
  #commentform input.error, #commentform textarea.error {
    border: 1px solid #FF0000;
  }
  #commentform div.error, #commentform label.error {
    color: #FF0000;
  }
  #commentform div.errorlabels label {
    display: block;
  }
}