.input-group-field, .mc_merge_var input {
  background-color: $charcoal;
  border: none;
}

#mc_signup_form .mc_var_label {
	display: none;
}

#searchform {
  .input-group-button {
    font-family: FontAwesome;
  }
}		

div#mc_message {
	padding: 20px;
}