

//Search form
#searchform {
	.input-group-field {
			padding-left: 30px; //padding to account for search icon size
		}
		
		&::before {
			content: ' ';
			height: 18px;
			width: 19px;
			position: absolute;
			margin-right: 5px;
			margin-top: 4px;
			margin-left: 5px;
      background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' data-name='Search' viewBox='0 0 67.2 67.3'><defs><style>  .cls-1{fill:none;stroke:#cacaca;stroke-miterlimit:10;stroke-width:2.5px;}</style></defs><title>  Artboard 1</title><circle class='cls-1' cx='39.6' cy='27.8' r='23.9'/><line class='cls-1' x1='22.7' y1='44.7' y2='67.3'/></svg>")  no-repeat;
      background-size: 19px 18px;
      display: inline-block;
		}
  
	#searchsubmit {
		@include element-invisible;
	} 
}

//Follow Fly defaults
.follow-fly-icon {
	&::before {
		content: ' ';
		height: 22px;
    width: 22px;
    position: relative;
    margin-right: 5px;
    top: 1px;
    background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 66.7 63.5'><title>  Artboard 1</title><path class='cls-1' d='M29.9 54.4V39.9H43V26.7H53.6V0H5.7V58.2H44V54.4ZM11 6.3H48.3v6.5H11Zm0 11.3H37.5v3.7H11Zm0 6.1H37.5v3.7H11Zm13.6 9.9H11V29.9H24.5Z'/><polygon class='cls-1' points='66.7 50.4 66.7 43.8 53.6 43.8 53.6 30.7 53.6 30.7 47 30.7 47 43.8 33.9 43.8 33.9 43.9 33.9 43.9 33.9 50.4 47 50.4 47 58.2 47 63.5 53.6 63.5 53.6 50.4 53.6 50.4 66.7 50.4'/></svg>")  no-repeat;
    background-size: 22px 22px;
    display: inline-block;
	}				
}

.mc4wp-form {
  .mc4wp-alert {  
    &.epm-error {
      color: map-get($foundation-palette, alert)
    }

    &.mc4wp-success {
      color: map-get($foundation-palette, success)
    }
    
    p {
      margin: 0;
      padding: 0;
    }
  } 
  
  .mc4wp-form-fields {
    label {
      display: none;
    }
    
    input[type="email"] {
      width: 70%;
      width: calc(100% - 110px);
      float: left;
      height: 40px
    }  
  }
  
  input[type="submit"] {
    float: right;
    height: 40px;
  }
}

//Dark inputs
.dark-form {
  input {
    &[type="text"], 
    &[type="email"] {
      background-color: $charcoal;
      color: $medium-gray;
      border: none;
    }
  }
}