.photo-carousel {
  width: 100%;
  position: relative;
  text-align: center;

  ul {
  	margin: 0;
  	padding: 0;
  }

  &-slides {
    li {
      margin-bottom: 0;
      height: 360px;

      img {
        height: 100%; 
        width: 100%; 
        object-fit: cover;
        object-position: center; 
      }
    }
  }
  &-controls {
    margin-top: 3px !important;
    border: 0;

	  li { 
	  	opacity: .5;
  		margin-right: 3px;

  		img {
			height: 56px; 
			width: 100%; 
			object-fit: cover;
      object-position: initial;
      outline: none;
      cursor: pointer;
  		}

      .dot {
        display: none;
      }

  		&:last-child {
  			margin-right: 0;
  		}

	  	&.slick-current {
	  		opacity: 1;
	  	}

	  	&:hover {
	  		opacity: 1;
	  	}

      &:focus {
        outline: none;
        cursor: pointer;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 40.063em) { /* max-width 641px */

.photo-carousel-controls {
  position: absolute !important;
  bottom: 10%;
  transform: translateX(-50%);
  display: inline !important;

    li {
      margin: 0 12px 0 0;
      padding: 0;
      width: 12px !important;
      display: inline !important;
      opacity: 1 !important;

      img {
        display: none;
      }

      .dot {
        background: #fff none repeat scroll 0 0;
        border: 2px solid #164780;
        border-radius: 0.5em;
        display: inline-block;
        height: 12px;
        width: 12px;        
        outline: none;
        cursor: pointer;
      }

      &.slick-current {
        .dot {
          background: #164780;
          border: 2px solid #fff;          
        }
      }
    }
  }
}