#related-posts {
  ul {
    @include grid-row;
    list-style-type: none;
  }
  
  li {
		padding-bottom: rem-calc(20);
		text-align: center;
		
    @include breakpoint(medium) {
      @include grid-column(4);
			padding-bottom: 0;
    }

		img {
			@include breakpoint(small only) {
				max-width: 300px;
			}
		}
		
    a {
      display: block;
			font-family: $header-font-family;
			font-weight: $header-font-weight;
			font-size: rem-calc(19);
			color: $black;
			
			&:hover,
			&:focus {
				color: $anchor-color-hover;
			}
    }
  }
}


div.wp_rp_footer a.wp_rp_edit {
    background: $anchor-color-hover !important; /* #164780 */
}

div.wp_rp_footer a.wp_rp_edit:hover {
    background: #333 !important;
}

.wp_rp_footer {
	text-align: center;
}

#wp_rp_zem_related_posts_wrap .button {
    background: $anchor-color-hover !important;
}