a#scroll-to-top {
	
	/* Background image, replace in images folder */
	//background: url(../images/icons/arrow.png) no-repeat center center;
  background: url("data:image/svg+xml;utf8,<svg id='arrow-up' data-name='arrow-up' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><defs><style>.cls-1{fill:#8a8a8a;}.cls-2{fill:#fff;}</style></defs><title>arrow-up</title><path class='cls-1' d='M512,480a32,32,0,0,1-32,32H32A32,32,0,0,1,0,480V32A32,32,0,0,1,32,0H480a32,32,0,0,1,32,32Z'/><path class='cls-2' d='M413.1,327.2l-1.8-2.1-136-156.5a25.3,25.3,0,0,0-19.2-8.6,25.65,25.65,0,0,0-19.2,8.6L101,324.9l-2.3,2.6a15.45,15.45,0,0,0-2.7,8.7c0,8.7,7.4,15.8,16.6,15.8H399.4c9.2,0,16.6-7.1,16.6-15.8A15.82,15.82,0,0,0,413.1,327.2Z'/></svg>")  no-repeat;
  height: 50px;
  width: 50px;

	/* Match to background image size */
	width: 50px;
	height: 50px;
	
	/* Postion on the page */
	position: fixed;	
	right: 30px;
	bottom: 30px;
	
	/* Hide link text */
	text-indent: -9999px;
	font-size: 0;
	
	/* Other */
	cursor: pointer;	
	outline: 0;
  
  display: none;
  z-index: 999;
  opacity: 0.8;
  
  &:hover {
    opacity: 1;
    transition: all 0.25s ease;
  }
}

body.rtl a#scroll-to-top {
	left: 30px;
}

/* Responsive Design Support */
@include breakpoint(small down) {
	
	a#scroll-to-top {
	
		/* Changing Position */		
		right: 0;
		bottom: 0;
	}
		
	body.rtl a#scroll-to-top {
		left: 0;
		bottom: 0;
	}
}