/**
 * Styles for social share icons
 */
.share-icon {
  margin-top: 1.3em;
  display: inline-block;
  max-width: 50px;
  padding: 0 rem-calc(10);

  svg {
    height: 30px;
    
    &:hover {
      fill: $anchor-color-hover;
      transition: all 0.25s ease;
    }
  }
}
