/**
 * Follow Fly and Search form across top of desktop site
 */

#follow-search-bar {
  position: relative;
  
  &--wrapper {
    background-color: $black;
    color: $white;
    padding-top: 8px;
    position: relative;
  }  
  
  input {
		margin-bottom: 0;
		height: rem-calc(24);
		vertical-align: top;
		padding: rem-calc(5);
    font-size: 0.9rem;
	}
	
	//Follow Fly
	#follow-fly--wrapper {
		padding-right: 0;
    padding-bottom: 0.5em;
		
    #follow-fly--button {
      float: right;
      
      .follow-fly-icon {
        position: relative;
        line-height: 24px;
        
        &::before {
          position: absolute;
          background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 66.7 63.5'><title>  Artboard 1</title><path class='cls-1' fill='white' d='M29.9 54.4V39.9H43V26.7H53.6V0H5.7V58.2H44V54.4ZM11 6.3H48.3v6.5H11Zm0 11.3H37.5v3.7H11Zm0 6.1H37.5v3.7H11Zm13.6 9.9H11V29.9H24.5Z'/><polygon class='cls-1' fill='white' points='66.7 50.4 66.7 43.8 53.6 43.8 53.6 30.7 53.6 30.7 47 30.7 47 43.8 33.9 43.8 33.9 43.9 33.9 43.9 33.9 50.4 47 50.4 47 58.2 47 63.5 53.6 63.5 53.6 50.4 53.6 50.4 66.7 50.4'/></svg>")  no-repeat;
          left: -28px;
        }
      }
    }
		
		input[type="email"] {
			width: 70%;
      width: calc(100% - 92px);
    }
    
    .mc4wp-alert.mc4wp-success {
      text-align: right;
    }
	}
	
	//Search
	#search-form--wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    
    .input-group {
		  margin-bottom: 0.5rem;
    }
	}
}