/**
 * Follow Fly and Search form across top of desktop site
 */

#follow-search-bar {
  position: relative;
  
  &--wrapper {
    background-color: $black;
    color: $white;
    padding-top: 10px;
    position: relative;
  }  
  
  input {
		margin-bottom: 0;
		height: rem-calc(24);
		vertical-align: top;
		padding: rem-calc(5);
    font-size: 0.9rem;
	}
	
	//Follow Fly
	#follow-fly--wrapper {
		padding-right: 0;
    padding-bottom: 0.5em;
		
    #follow-fly--button {
      float: right;
      
      img {
        margin-right: 5px;
      }
    }
		
		input[type="email"] {
			width: 70%;
      width: calc(100% - 92px);
    }
    
    .mc4wp-alert.mc4wp-success {
      text-align: right;
    }
	}
	
	//Search
	#search-form--wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    
    .input-group {
		  margin-bottom: 0.5rem;
    }
	}
}