#page {
  @include grid-row();
  //margin-top: rem-calc(20);

	h1.entry-title {
		padding-bottom: rem-calc(15);
		padding-top: rem-calc(20);
		
		@include breakpoint(tablet) {
			padding-bottom: rem-calc(5);
			padding-top: 0;
		}
		
		@include breakpoint(tablet) {
			padding-bottom: rem-calc(25);
		}
	}
}
