#single-post {
  
	.carousel-container {
		padding: 0;
	}

	.main-content { //article item
		padding: 0;

		@include breakpoint(tablet) {
			margin-top: rem-calc(20);
			
			.entry-content {
				margin: 0 rem-calc(25);
			}
		}

		>section:not(#comments), >main {
			background-color: map-get($foundation-palette, secondary);
			border-bottom: 7px solid $black;
			margin-bottom: rem-calc(20);
			padding: rem-calc(20);

			h3 {
				text-align: center;
				font-size: rem-calc(24px);
			}
		}
    
    section#comments {
      padding-right: 1.25rem; 
    }
    
		section#share-follow {
      margin-left: 0;
      margin-right: 0;
			
			//subscribe form style override
      .mc4wp-form {
        margin-top: 1.5em;

        .button {
          font-size: 1em;
          padding: .7em;
          background-color: transparent;
          color: #000;
          font-weight: bold;
        }
      }

      .column:first-of-type {

				@include breakpoint(medium down) {
					border-bottom: 1px solid $black;
					padding-bottom: rem-calc(20);
				}
					
				@include breakpoint(tablet) {
					box-shadow: 20px 0px -0px -19px $black;
				}
			}
			
			.column:last-of-type {
				@include breakpoint(medium down) {
					padding-top: rem-calc(20);
				}
			}
			
			.addtoany_list {
				display: block;
				padding: rem-calc(20);
        
        img {
          padding: 0 10px;
        }
			}
		}
	  
		header {
			@include breakpoint(tablet) {
				padding-top: rem-calc(10);
			}

			h1 {
				font-size: rem-calc(35);

				@include breakpoint(tablet) {
				  font-size: rem-calc(52);
				}
			}
		}
	}

	.video-wrapper,
	.size-full {
		margin-bottom: 1em;
	}
}