#single-post {
  
	@include breakpoint(tablet) {
		//margin-top: 3rem;
	}
	.carousel-container {
		padding: 0;
	}

	.main-content { //article item
		padding: 0;

		@include breakpoint(tablet) {
			margin-top: rem-calc(20);
		}

		>section:not(#comments), >main {
			background-color: map-get($foundation-palette, secondary);
			border-bottom: 7px solid $black;
			margin-bottom: rem-calc(20);
			//@include grid-col;
			padding: rem-calc(20);


			h3 {
				text-align: center;
				font-size: rem-calc(34px);
			}
		}
        
		section#share-follow {
				margin-left: 0;
				margin-right: 0;
			
			.column:first-of-type {
				@include breakpoint(medium down) {
					border-bottom: 1px solid $black;
					padding-bottom: rem-calc(20);
				}
					
				@include breakpoint(tablet) {
					box-shadow: 30px 0px -0px -29px $black;
				}
			}
			.column:last-of-type {
				@include breakpoint(medium down) {
					padding-top: rem-calc(20);
				}
			}
			.addtoany_list {
				//@include vertical-center;
				//padding: rem-calc(20);
				display: block;
				padding: rem-calc(20);
			}
		}
	  
		header {
			padding-top: rem-calc(20px);

			@include breakpoint(tablet) {
				padding-top: rem-calc(40px);
			}

			h1 {
				font-size: rem-calc(40);

				@include breakpoint(tablet) {
				  font-size: rem-calc(60);
				}
			}
		}
	}
}