html {
  overflow-x: hidden; //TODO: This is a bandaid. What is causing content to stretch past viewport?
}

.bottom-margin {
  margin-bottom: 600px;
}

//no scroll utility class keeps us safe from scrollbars when mobile menu is open
.no-scroll {
  overflow: hidden;
  
  @include breakpoint(tablet) {
    overflow: auto;
  }
}

header#masthead {
	position: relative;
	background-color: $titlebar-background;
  height: $titlebar-height;
  position: fixed;
  width: 100%;
  z-index: 9999;
	
	@include breakpoint(tablet) {
		padding-bottom: 20px;
		border-bottom: 1px solid $light-gray;
		background-color: $white;
    height: auto;
    position:static;
	}
}

#mc_custom_border_hdr {
	@include element-invisible;
}

#follow-fly--container {
	border-top: 1px solid $light-gray;
	margin-top: 20px;
  //justify-content: flex-end;
  margin-bottom: 60px;
}

#main-content--container {
	@include breakpoint(tablet) {
		padding-top: rem-calc(35);
	}
}

#home-page-logo {
	padding: rem-calc(20);
}

.title-bar-container .sticky {
  
  .title-bar {
    height: $titlebar-height;
  }
}

