header#masthead {
	position: relative;
	background-color: $titlebar-background;
	
	@include breakpoint(tablet) {
		padding-bottom: 20px;
		border-bottom: 1px solid $light-gray;
		background-color: $white;
	}
}

#searchform {
	.input-group-field::before {       
		content: url(/assets/images/search.png);
		height: 24px;
		width: 24px;
		position: relative;
		margin-right: 5px;
		top: 7px;
	}

	.input-goup-field {
		padding-left: 40px;
	}

	#searchsubmit {
		@include element-invisible;
	}
}

#mc_custom_border_hdr {
	@include element-invisible;
}

#follow-fly--container {
	border-top: 1px solid $light-gray;
	margin-top: 20px;
}

#main-content--container {
	@include breakpoint(tablet) {
		padding-top: rem-calc(35);
	}
}

#home-page-logo {
	padding: rem-calc(20px);
	//padding-bottom: 1.5rem;
}

#follow-search-bar--wrapper {
	background-color: $black;
	color: $white;
	padding-top: 10px;
	
	#follow-fly--wrapper {
		padding-right: 0;
		
		input {
			margin-bottom: 0;
		}

		#follow-fly--button {
			float: right;	
		}

		.mc_merge_var {
			display: inline;
			float: left;
			width: calc(100% - 112px);
			margin-right: 0.9375rem;
		}
		
		.mc-signup_submit {
			float: left;
		}
	}
	
	#search-form--wrapper .input-group {
		margin-bottom: 0.5rem;
	}
}
