html {
  overflow-x: hidden; //TODO: This is a bandaid. What is causing content to stretch past viewport?
}

header#masthead {
	position: relative;
	background-color: $titlebar-background;
  height: 52px;
	
	@include breakpoint(tablet) {
		padding-bottom: 20px;
		border-bottom: 1px solid $light-gray;
		background-color: $white;
    height: auto;
	}
}

#mc_custom_border_hdr {
	@include element-invisible;
}

#follow-fly--container {
	border-top: 1px solid $light-gray;
	margin-top: 20px;
}

#main-content--container {
	@include breakpoint(tablet) {
		padding-top: rem-calc(35);
	}
}

#home-page-logo {
	padding: rem-calc(20px);
	//padding-bottom: 1.5rem;
}

.title-bar-container .sticky {
  max-width: 100% !important; //TODO: Remove important. JS is appying inline max width which is not always updated to current width. Seems to get stuck at 385px
}

